@import '/styles/screenSizes.module.scss';

.nav {
  background-color: var(--bg-dark);
  box-shadow: 0 0 0 0.25rem rgba(var(--bg-dark), 0.15);

  .navContainer {
    padding: 0.7rem 0;
    width: 90%;
    display: flex;
    max-width: $max-width;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    min-height: 2rem;

    .title p {
      color: var(--text-dark);
      cursor: pointer;
      font-family: 'Prata', serif;
      font-weight: 400;
    }

    .navbar-collapse {
      flex: 1;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;

        li {
          list-style-type: none;
          margin-left: 1.5rem;

          p {
            color: var(--text-light);
          }

          p:hover {
            cursor: pointer;
          }
        }
      }

      .button {
        margin: 0;
        margin-left: 1.5rem;
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  .nav {
    .navContainer {
      height: auto;
      background-color: transparent;

      .toggle-btn {
        display: block;
        background-color: transparent;
        border: none;

        svg {
          path {
            fill: var(--text-dark);
          }
        }
      }

      .navbar-collapse {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        left: 20px;
        z-index: 1;
        background-color: var(--bg-light);
        border-radius: 3px;
        box-shadow: 5px 5px 5px rgba(var(--bg-dark), 0.15);

        ul {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0.5rem;

          li {
            list-style-type: none;
            margin: 0;
            padding: 0.5rem 0;
          }
        }

        .button {
          display: block;
          width: 33%;
          min-width: fit-content;
          margin: 0.5rem auto 1rem;
        }
      }
    }
  }
}
