@import '../../styles/screenSizes.module.scss';
@import '../../styles/mixins.module.scss';

.content {
  @include container;
  margin: 2rem auto;

  .movie {
    display: flex;

    .poster {
      width: 18.75rem;
      height: 27.75rem;
      object-fit: contain;
    }

    .data {
      flex: 1;
      margin-left: 3rem;

      p {
        margin-bottom: 0.5rem;
      }

      .rate {
        display: flex;

        p {
          margin: 0 0;
          font-size: 1.5rem;
        }
      }

      table {
        .row {
          td {
            font-size: 1.25rem;
            color: var(--text-light);
            border-right: 1rem solid transparent;
            border-bottom: 1rem solid transparent;

            &.value {
              font-weight: bold;
              color: var(--primary);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .content {
    .movie {
      flex-direction: column;

      .poster {
        align-self: center;
        max-width: 100%;
      }

      .data {
        margin: 3rem auto 0;
      }
    }
  }
}
