@import './mixins.module.scss';

.content {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: auto;

  .not-found {
    font-size: 7rem;
    font-weight: 500;
  }

  h1 {
    font-size: 2rem;
    font-weight: 400;
  }
}
