@import '~bootstrap/scss/bootstrap';
@import './screenSizes.module.scss';

:root {
  --primary: #6e42ff;
  --bg-dark: #010101;
  --bg-light: #222222;
  --text-dark: #fefefe;
  --text-light: #dee4e7;
}

html,
body {
  padding: 0;
  margin: 0;
}

#__next {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

p,
pre,
ul,
ol,
li {
  font-family: 'Inter', sans-serif;
  color: var(--text-light);
  margin: 0;
}

ol,
ul {
  list-style-position: inside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Prata', serif;
  color: var(--text-dark);
}

h1 {
  font-size: 2rem;
  margin: 0 0 0.7rem;
}

h2 {
  font-size: 1.7rem;
  margin: 0 0 0.7rem;
}

h3 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem;
}

h4 {
  font-size: 1.2rem;
  margin: 0 0 0.3rem;
}

h5 {
  font-size: 1.1rem;
  margin: 0 0 0.3rem;
}

// Shared pages styles
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-dark);
}

.page-content {
  max-width: $max-width;
  margin: 1rem auto 2rem;
  padding: 0 1rem;
  flex: 1;
}
