@import './screenSizes.module.scss';
@import './mixins.module.scss';

.login {
  @include container;
  flex: 1;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  @include container;
  margin: 2rem auto;

  .movies {
    display: flex;
    flex-wrap: wrap;

    .card {
      margin: 1rem;
      width: 18.75rem;
      cursor: pointer;

      img {
        width: 18.75rem;
        height: 27.75rem;
        object-fit: contain;
      }

      p {
        max-width: 100%;
      }
    }
  }
}
